<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tools.bys.biz.generator.mapper.TxTestMapper">

    <resultMap id="BaseResultMap" type="com.tools.bys.biz.generator.domain.TxTest">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="column1" column="column1" jdbcType="VARCHAR"/>
            <result property="column2" column="column2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,column1,column2
    </sql>
</mapper>
